@import "./slider";
@import "./stage";
@import "./dot";

body{
  overflow: hidden;
}

#DotApp{
  background: #535353;
  margin-top:20px;
}


#scoreCmpt{
  color: #ff0000;
  display:block;
  margin-left:20px;
}

header{
  background: #53031d;
  position:absolute;
  top:0;
  left:0px;
  right:0px;
  height:80px;
  border-bottom:solid 1px white;
  z-index:1;
}

h4#name {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
}